/*
 * General
 */
* {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next";
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #4A90E2;
}
a.active {
    color: #4A90E2;
}

/*
 * Blue: #0760FE;
 * BG: #18212D;
 */

html {
    height: 100%;
}
body {
    background: #18212D;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}
nav {
    padding: 1.0em 2.0em 0em 0.7em;
    font-size: 20px;
}
.navbar {
    display: inline-block;
}
nav .left {
    float: left;
}
nav .right {
    float: right;
    /*font-style: italic;*/
    /*font-weight: lighter;*/
}
.navbar a {
    margin: 0px 25px;
}
.navbar p {
    display: inline-block;
}

#arrow-container {
    position: absolute;
    left: 8%;
    top: 50%;
    font-size: 20px;
}
#arrow-container i {
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
#arrow-container .icon-up-open:hover {
    color: #0760FE;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transform: translate(0, 3px);
    cursor: pointer;
}
#arrow-container .icon-down-open:hover {
    color: #0760FE;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transform: translate(0, -3px);
    cursor: pointer;
}

#content-container {
    position: absolute;
    top: 48%;
    left: 15%;
    max-width: 50%;
}
#heading {
    font-size: 32px;
}
#text {
    font-size: 20px;
}

/*
 * Animation
 */
#testing {
    display: inline-block;
    color: #18212D;
    height: 10px;
    width: 100px;
    background: #0760FE;
}
#made-with {
    position: absolute;
    bottom: 15%;
    right: 15%;
}

#overlay-container {
    width: 100%;
    height: 100%;
    background: #18212D;
    opacity: 0.9;
    transition: 1s ease;
    overflow-y: hidden;
}
#overflow nav {
    padding: 0px 1000px;
}

#project_list_nav {
    padding: 100px;
}
#ac_project_list_nav {
    padding: 100px;
}
#project_list {
    list-style-type: none;
}
#ac_project_list {
    list-style-type: none;
}

.project_list_el {
    margin: 20px 0;
    -webkit-transition: 0.6s ease;
    border-left: 0px solid #0760FE;
}
.ac_project_list_el {
    margin: 20px 0;
    -webkit-transition: 0.6s ease;
    border-left: 0px solid #0760FE;
}
.project_list_el a {
    color: inherit;
    margin-left: 10px;
}
.ac_project_list_el a {
    color: inherit;
    margin-left: 10px;
}
.project_list_el a:hover p {
    color: #0760FE;
}
.ac_project_list_el a:hover p {
    color: #0760FE;
}
.project_list_el:hover {
    border-left: 10px solid #0760FE;
    color: #0760FE;
    -webkit-transition: 0.6s ease;
}
.ac_project_list_el:hover {
    border-left: 10px solid #0760FE;
    color: #0760FE;
    -webkit-transition: 0.6s ease;
}
.project_list_el span {
    font-size: 20px;
}
.ac_project_list_el span {
    font-size: 20px;
}
.project_list_el p {
    display: inline-block;
    font-size: 35px;
}
.ac_project_list_el p {
    display: inline-block;
    font-size: 35px;
}

/*
 * Page Number Stuff
 */
#page-number-container {
    width: 30px;
    position: absolute;
    display: inline-block;
    bottom: 10%;
    right: 15%;
}
.pager {
    background: #ffffff;
    display: inline-block;
    float: right;
    margin: 3px;
    width: 60px;
    height: 2px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
.pager-active {
    display: inline-block;
    float: right;
    background: #0760FE;
    margin: 3px;
    width: 100px;
    height: 2px;
}
.pager:hover {
    background: #0760FE;
    margin: 3px;
    width: 100px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    cursor: pointer;
}

/*
 * Mobile
 */

@media (max-width: 500px) {
    html, body {
        height: 100%;
    }
    #arrow-container {
        left: 5%;
        top: 43%;
    }
    nav {
        padding-right: 1em;
        padding-left: .5em;
    }
    .pager {
        width: 30px;
    }
    .pager-active {
        width: 50px;
    }
    .pager:hover {
        width: 50px;
    }
    #heading {
        font-size: 28px;
    }
    #text {
        font-size: 18px;
    }
    #content-container {
        position: absolute;
        top: 35%;
        left: 20%;
        max-width: 50%;
    }
    #project_list_nav {
        padding: 100px 10px;
    }
    .project_list_el span {
        font-size: 18px;
    }
    .project_list_el p {
        display: inline-block;
        font-size: 25px;
    }
    #ac_project_list_nav {
        padding: 100px 10px;
    }
    .ac_project_list_el span {
        font-size: 18px;
    }
    .ac_project_list_el p {
        display: inline-block;
        font-size: 25px;
    }
}
