/*
 * General
 */
* {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next";
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #4A90E2;
}
a.active {
    color: #4A90E2;
}

/*
 * Blue: #0760FE;
 * BG: #18212D;
 */

html {
    height: 100%;
}
body {
    background: #18212D;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}
nav {
    padding: 1.0em 3.0em 0em 0.7em;
    font-size: 20px;
}
.navbar {
    display: inline-block;
}
nav .left {
    float: left;
}
nav .right {
    float: right;
    font-style: italic;
    font-weight: lighter;
}
.navbar a {
    margin: 0px 25px;
}
.navbar p {
    display: inline-block;
}

#arrow-container {
    position: absolute;
    left: 8%;
    top: 50%;
    font-size: 20px;
}
#arrow-container i {
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease;
}
#arrow-container .icon-up-open:hover {
    color: #0760FE;
    -webkit-transition: 0.3s ease;
    transform: translate(0, 3px);
}
#arrow-container .icon-down-open:hover {
    color: #0760FE;
    -webkit-transition: 0.3s ease;
    transform: translate(0, -3px);
}

#content-container {
    position: absolute;
    top: 48%;
    left: 15%;
}

/*
 * Page Number Stuff
 */
#page-number-container {
    width: 30px;
    position: absolute;
    display: inline-block;
    bottom: 10%;
    right: 15%;
}
.pager {
    background: #ffffff;
    display: inline-block;
    float: right;
    margin: 3px;
    width: 60px;
    height: 2px;
    -webkit-transition: 0.3s ease;
}
.pager-active {
    display: inline-block;
    float: right;
    background: #0760FE;
    margin: 3px;
    width: 100px;
    height: 2px;
}
.pager:hover {
    background: #0760FE;
    margin: 3px;
    width: 100px;
    -webkit-transition: 0.3s ease;
    cursor: pointer;
}
