/*********************************
 *********************************/

/*********************************
  GENERAL
*********************************/

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
  background-color: #2B3738;
  color: #FFF056;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.50em;
  color: #4AD6AF;
  text-align: center;
  margin: 0 0 1em 0;
}

/*********************************
  BACKG IMAGE
 *********************************/



/*********************************
  HEADER
*********************************/

header {
  float:left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  color: #FDF3E7;
  margin: 0;
}

h1 {
  font-family: 'Lora', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.20em;
  margin: -5px 0 0;
  font-weight: normal;
}

/*********************************
  SECTION
 *********************************/

section p {
    font-family: fantasy;
    color: #F6F6F6;
    max-width: 940px;
    text-align: center;
    font-size: 1.25em;
    font-weight: normal;
}

section p a {
  color: #E9E581;
}

/*********************************
  NAV
 *********************************/

 nav {
   text-align: center;
   padding: 10px 0;
   margin: 20px 0 0;
 }

 nav ul {
   list-style: none;
   margin: 0 10px;
   padding: 0;
 }

 nav a {
   color: #3B3738;
   padding: 15px 10px;
 }

 nav li {
   display: inline-block;
   font-family: "Montserrat", sans-serif;
   /*font-size: 1.00em;*/
   padding-left: 10px;
   padding-right: 10px;
 }

/*********************************
  FOOTER
 *********************************/

footer {
  color: #ccc;
  text-align: center;
  clear: both;
  padding-top: 50px;
  font-size: 0.75em;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

/*********************************
  PAGE: ABOUT
 *********************************/



 .profile-photo {
   display: block;
   max-width: 150px;
   margin: 0 auto 30px;
   border-radius: 100%;
 }

/*********************************
  COLORS
 *********************************/

header {
  background: #3B3738;
}

h2 {
  background-color: #3B3738;
}

nav {
  background-color: #7E8F7C;
}

nav a.visited {
  color: #F5F3EE;
}

nav a.selected, nav a:hover {
  color: #FDF3E7;
}

footer a {
  color: #ccc;
}

/*********************************
  RULES
 *********************************/

.picLeft {
  float: left;
  margin: 10px 20px 20px 20px;
  background-color: #F6F6F6;
}
