/*********************************
 *********************************/

/*********************************
  GENERAL
*********************************/

a {
  text-decoration: none;
}

/*********************************
  HEADER
*********************************/

header {
  float:left;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}
