@media screen and (min-width: 480px){
  /*********************************
    TWO COLUMN LAYOUT
   *********************************/

   #primary {
     width: 100%;
     float: left;
   }

   /*#secondary {
     width: 40%;
     float: right;
   }*/
}

@media screen and (min-width: 600px){
  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }
}
