@media screen and (min-width: 0px){
  /*********************************
    TWO COLUMN LAYOUT
   *********************************/

   /*#primary {
     width: 100%;
   }

   #secondary {
     width: 100%;
   }*/
}

@media screen and (min-width: 600px){
  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }
}
